<!-- Toolbar -->
<app-navbar></app-navbar>

<div class="content" role="main">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 m-4">
        <h1>Surveillance</h1>

        <div [className]='state' role="alert">
          {{ cctvMessage }}
        </div>

        <ng-container *ngIf="detected">



          <div>
            <img class="img-fluid" [src]="image" />
          </div>

          <div class="mt-2">
            <button type="button" class="btn btn-danger col-sm-4 mt-2" (click)="onDismiss()">Dismiss</button>
            <button type="button" class="btn btn-warning col-sm-4 mt-2 float-right" (click)="onSnapshot()">Snapshot</button>
          </div>


        </ng-container>




      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer></footer>

<router-outlet></router-outlet>
