<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink] = "''">CCTV BY SVEN</a>
<button class="navbar-toggler" type="button" (click)="collapse.toggle()">
<span class="navbar-toggler-icon"></span>
</button>
<ngx-navbar-collapse #collapse="ngxNavbarCollapse">
  <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="nav-link" [routerLink] = "'/snapshots'" (click)="collapse.toggle()">Snapshots</a>
        </li>
  </ul>
</ngx-navbar-collapse>
</nav>
